@import "tailwindcss";

/* Theme */
@theme {
  --color-primary: #a1bdce;
  --color-primary-hover: #8fb1c7;
  --color-secondary: #363668;
  --color-secondary-hover: #4b4b87;
  --color-accent: #7c72b6;
  --color-accent-hover: #9388c7;
  --color-custom-black: #0e1418;
  --color-custom-white: #e4ecf1;
}

/* Base Styling */

/* Custom Components */
@layer components {
  .primary-button {
    @apply px-4 py-2 bg-primary text-custom-black rounded hover:bg-primary-hover cursor-pointer;
  }

  .secondary-button {
    @apply px-4 py-2 bg-secondary text-custom-white rounded hover:bg-secondary-hover;
  }

  .accent-button {
    @apply px-4 py-2 bg-accent text-custom-white rounded hover:bg-accent-hover;
  }

  .menu-item {
    @apply text-xl font-semibold px-1 py-1 mx-2 my-2 hover:text-primary;
  }

  .card-menu {
    @apply text-xl py-1 ml-10 mr-2 hover:text-accent;
  }

  .add-card-field {
    @apply flex justify-between align-top my-4;
  }

  .table-header {
    @apply text-base font-medium text-primary;
  }

  .page-header {
    @apply text-3xl font-semibold mb-8;
  }

  .body-spacing {
    @apply flex-1 flex-col px-12 py-8 mx-4 mt-8;
  }

  .trash-can-icon {
    @apply rounded-md border-1 border-red-400 p-1 text-center text-sm transition-all shadow-sm 
    hover:shadow-lg text-red-400 hover:text-white hover:bg-red-400 hover:border-slate-800 
    focus:text-white focus:bg-slate-800 focus:border-slate-800 active:border-slate-800 
    active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 
    disabled:shadow-none;
  }
}

/* Custom Utility Classes */

/* Regular CSS */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
